@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.caja{
  
   
    flex-direction: row;
   
    height: fit-content;
   justify-content: center;
    min-height: 50px;
    backdrop-filter: blur(10px);
    z-index: 99;
     width:100%;
    top: 0;
    
    padding-left: 15px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
}
#logo_menu{
  margin-top: 6px;
  position: fixed;
 
}
#logo_menu:hover{
 filter: drop-shadow(8px 6px 4px  #3938388e);
}
#logo_menu::after{

  transition: 5s all ease;
}
#toogle_menu{
    position: relative;
    border: 0;
   visibility: hidden;
    top: 15px;
    cursor: pointer;
    font-size: 35px; 
    height: 1px;
    width: 1px;
    text-align: center;
    line-height: 15px;
    z-index: 1000;
    
  }
 .caja span{

    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
   visibility: hidden;
    top:30px;
    left: 60px;
    font-size: 13px;
    font-family: 'Fjalla One', sans-serif;
  }
.caja nav {
    justify-content: center;
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
   
    padding-left: 20px;
}

.menu{
  
  text-align: center;
  display: flex;
  width: 100%;
 justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20px;
  gap: 2%;
  list-style: none;
  
}

.menu.active{ 
 
  height: fit-content;
  right: 40PX;
  width: 100PX;
  position: relative;    
  visibility: visible;
  display: flex;
  flex-direction: column;
  z-index:2000;
  height: fit-content;
 justify-content: center;
 transition: 5s ease-in;
}

.caja nav li{
  text-align: center;
   width: 100px;
    border-bottom: 1px  solid #c21117;
    height: 30px;
   
 
}

.caja nav li:hover{
  
   
  border-bottom: 1px  solid #113dc2;
}

@keyframes pass{
  from{
    width: 20px;
  }to{
    width: 100px;
  }


}
.item_menu{
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;

}
#li_hover{
 
  text-align: center;
  width: fit-content;
   border-bottom: 1px  solid #c21117;
   height: 30px;
   
}
#li_hover:hover{
  background: #113dc2;
  animation: pass 5s infinite;
}
.item_menu.active{
  
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  color: rgb(0, 195, 255);

}
.item_menu:hover{
  color: #4c9ae9;

}

#container{
  width: 100%;
  height: 500px;
  background: #0099FF;
  position: fixed;
 
}

.container h1{
text-align: center;
    
}
.card-body{
  height: fit-content;
  width: fit-content;
    display: flex;
}
#head_recomend{
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  /*overflow: hidden;
  /*width:70ch;*/
 /* white-space: nowrap;
 /*animation: typing 10s steps(19) , blink .5s step-end infinite;*/
 /* border-right: 3px solid;*/
  
  
}

@keyframes typing{

  from{
    width: 0;
  }to{
    width: 500px;
  }
}
@keyframes blink{

  50%{
    border-color: transparent;
  }
}
 #titulo_cat
{
  margin-top: 50px;
font-size: 40px;
font-family: 'Fjalla One', sans-serif;
color: #000;

}


.buscador{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  
 justify-content: center;
}
#buscar_prod {
  background: #0099FF;
  width: 100px;
  text-decoration: none;
  height: 29px;
  text-align: center;
  padding-top: 5px;
  right:15%;
  border-radius: 0 5px 5px  0;
  position: absolute;
  border: 0;
  font-family: 'Rubik', sans-serif;
}
#buscar_prod:hover {
  background: #00ff26;
}
#input_buscar:hover{
  background: #eae4e4;
}

#input_buscar{
  border: 1px solid #3e91e3 ;
  background: #d1deeb;
 border-radius: 8px;
  width: 60%;
  height: 29px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
 }

 #box-search{
  
  width: 60%;
  height: fit-content;
  max-height: 200px;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  overflow: scroll;
  background: #f8fafb;
 display: none;
 z-index: 2;
 position:   absolute;
 transform: translateX(30%);
  list-style: none;
  font-size: 20px;
 }
 #box-search li a{
  text-decoration: none;
  display: block;
  width: 60%;
  color: black;
  padding: 10px 12px ;
  cursor: pointer;
 }



.form-group{
    margin-top: 10px;
    display: flex;
    margin-left: 50px;
    
}
.form-group input:hover,
.form-group textarea:hover{

    background-color: azure;
}
.form-group input{
    text-align: center;
    width: 80%;
    

}
.form-group textarea{
  width: 80%;
}
#cont-previa
{
  width: 70px;
  height: 70px;
 margin-left: 40%;

}
.cont-previa{
  width: 90%;
  height: 110%;
 
 
 display: flex;
 justify-content: center;

}
.previa_cat
{

  float: right;
  width: 90%;
  height: 100%;
 
 display: flex;
 flex-wrap: wrap;
margin-top: 20px;
 padding-bottom: 10px;
background: #cc00ff;
justify-content: center;
}
.previa_cat h1{
  border-radius: 20px 0 20px 0;

  background-color: #18f2f2;
}
.previa_cat .cont_img{

  width: 450px;
  height: 500px;
  background: blue;

  justify-content: center;
}
.previa_cat .cont_img img
{
  margin-top: 30px;
  width: 80%;
  height: 80%;
  

}
.previa_cat p{

margin-top: 20px;

}
.previa_cat .cont-coste{

 width: 380px;
 height: 500px;
 display: flex;
background: red ;
padding: 15px;
flex-direction:column;
gap: 20px;

}
.previa_cat .cont-coste #precio_prod{

color: #cc00ff;
  font-size: 40px;
}
.previa_cat .cont-coste a{

text-decoration: none;

}
.previa_cat .cont-whatsapp{

  width: 180px;
  height: 50px;
  background: #0099FF;
  justify-content: center;
  border-radius: 30px  ;

  transition: all ease 2s;
/*;*/
}
.cont_description{
 padding: 15px;
  width: 400px;
  height: 500px;
  background: green;

  padding-left: 50px;
}

.formulario{

  margin: 40px 0;
}
form label{
   margin-top: 10px;
   display: block;
}

form input{

   width: 70%;


   border-radius: 5px;
  padding: 10px 25px;
   margin:0 0 10px;
   display: block;
}
.cont_description h4{

  text-align: center;
}
.previa_cat .cont-whatsapp img{

  margin-top: 0;
  animation: anim_what 5s alternate infinite ease
}
 .cont-whatsapp #whatsapp{
 
  text-decoration: none;
}

@keyframes anim_what{

  from    { transform: rotate(0deg); }
  5%      { transform: rotate(10deg); }
  12.5%   { transform: rotate(-10deg); }
  21%     { transform: rotate(10deg); }
  29%     { transform: rotate(-10deg); }
  37.5%   { transform: rotate(10deg); }
  46%     { transform: rotate(-10deg); }
  50%,to  { transform: rotate(0deg); }

}
.previa_cat .cont-whatsapp a span{

  color: #171718;
  transition: all ease 1s;
}
.cont-whatsapp:hover, .previa_cat .cont-whatsapp a{
  
  transition: all ease 1s;
  
  animation-play-state: paused;
}
.cont-whatsapp:hover   a span{
  display:  inline-block;
  color: #c21117;
 opacity: 1;
 transition: all ease 1s;
 box-shadow: 3px solid rgba(0, 174, 255, 0.237);
}

.form-group img{
    width: 95%;
    height: 95%;
   
    align-items: center;
   
}
#inputGroupFile01{

    display: flex;
}
.container.my-3{
    display: flex;flex-wrap: wrap;

    width:fit-content;
    height: fit-content;
}


.categorias{
  margin-top: 3px;
  margin-left: -10px;
  margin-right: -100px;
width:fit-content;
max-width: calc(100% - 10px);

height: 50px;

display: flex;
flex-wrap: wrap;
gap: 5px;

}

.sub-cat{
  width:100px;
  height: 50px;
  background: #94a5ac;
  color: #1877F2;
  text-align: center;
padding-top: 10px;
  border-radius: 4px;
  justify-content: center;


}
.sub-cat a{
  text-decoration: none;
 
}
.sub-cat a:hover {

  color: red;
}
#item-prod{
    background: rgba(35, 185, 215, 0.242);
    padding: 0px 5px 5px 5px;
    width:calc(100% - 10px);
    margin-left: 4px;
    height: fit-content;
    /*background: rgba(7, 245, 245, 0.2);*/
    position:relative;
    display: flex;
     justify-content: center;
    margin-top: 20px;
    
    flex-wrap: wrap;
    gap: 5px;
  } 

  .nombre-prod{

    text-decoration: none;
    color: rgb(82, 47, 255);
  }
 
#item-prod h3,
#item-prod h4,#item-prod p
{text-align: center;
  text-decoration: none;
    font-size: 14px;
}
.btn-primary{
  font-size: 13px;
  width: fit-content;
  height: 32px;
  margin-bottom: 5px;
  background-color: aquamarine;

}
.col-md-12{ 
  background: #0099FF;
  padding-top:10px ;
    margin-top: 10px;
    width:150px;
    height:fit-content;
    position: relative;
   
  
    transition: 0.3s;
  }

  @keyframes slide {
  
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }
    35% { transform: translateX(0); }

  70% { transform: translateX(-100%); }
    100% { transform: translateX(-100%) ;   ;}
  
   
  
 
  }
  #promos{
    margin-top: 150px;
    position: static;
    display: flex;
    transition: 0.5s all ease;
    overflow: hidden;
    height:  fit-content;
    background: white;
    width: 100%;
    padding-bottom: 10px;
  }
  .cont_slider{
    /*background-image: url("/img/bancolombia.webp");*/
    background-size:700px 350px;
    background-repeat: no-repeat;
    animation-delay: 10s;
    
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-shrink: 0;
   animation-name:slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    transition: 6s all ease-in-out;
    height: 350px;
   
  
    
  }
#img_slider4,#img_slider3{
   
    width: 30%;
    height: 90%;
    margin-top: 40px;
    transition: 0.5s all ease;
    transform: scale(1);
    
  }
  #caract_product{
    flex-direction: column;
    line-height: 50px;
  
   width:50%;
  height: 100%;
  position: static;
  gap: 0;
  justify-content: center;
  text-align: center;
  
  }
  #caract_product .nombre_prod_slide::first-letter,#caract_product .nombre_prod_slide{
    width:80%;
    font-size: 3.8vw;
    text-transform: capitalize;
    word-wrap: break-word;
    list-style: none;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    right: 200px;
   
  }
  #caract_product .valor_prod_slide,#caract_product .valor_prod_slide::before{
    text-decoration: line-through;
    content: "$";
    font-size: 3vw;
    color: #000;
    text-align: center;
   margin-top: 80px;
   margin-top: -35px;
    
  }
  #caract_product h1:nth-child(3)::before,#caract_product h1:nth-child(3){
    content: "$";
    color: #14c211;
    font-size: 55px;
    margin: 0;
    text-align: center;
    }
  
    #caract_product p{
      
      transition: 0.5s all ease;
    
    }
  
    
    @keyframes resaltar {
      from{
        transition: 0.5s all ease;
        color: #14c211;
      }to{
        transition: 0.5s all ease;
        color: #c21117;
  
  
      }
  }
    .mensaje_prod_slide{
      text-align: left;
    font-size: 50px;
    color: #c21117;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 70px;
    margin-left: 25%;
    margin-bottom: 10px;
    animation-name:resaltar ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: normal;
    animation-timing-function: ease;
    transition: 0.5s all ease;
    }
  
  #catalogo{ 
    overflow: hidden;
    background-size: 150%;
    background-repeat: round;
    width: 150px;
    height: 240px;
    margin-top: 10px;
   box-shadow: 1px 1px 1px solid rgba(0, 0, 0, 0.816);
    word-wrap: break-word;
    justify-content: center;
    }
    #etiq_descuento{
      text-decoration: none;
      cursor: none;
      font-weight: bold;
      width: 100px;
      position: absolute;
      top: 14px;
      right: -10;
      background: #14c211;
      transform: rotate(45deg);
      color: rgb(250, 251, 251);
    }
   #etiq_descuentoSlide{
    text-decoration: none;
    cursor: none;
    font-weight: bold;
    width: 220px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 39px;
    left: -45px;
    background: #14c211;
    transform: rotate(-45deg);
    color: rgb(250, 251, 251);
  
   }
    #cont_product  section{

    width:100%; 
    height: fit-content;
    }
    .seccion{
      margin-top: 20px;
      width:100%;
      height: fit-content;
     justify-content: center;
     padding-bottom: 20px;
      gap: 20px;
    background: #f9f7f7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: 10s ease-in ;
    }
    .seccion.active{
    
      transition-duration:3s;
      display: none;
    }
    #descript{
    gap: 0;
      display: flex;
      flex-direction: column;
      margin-top: -13%;
      width: 150px;
      height:100%;
      background:white;
      padding-top: 20px;
      align-items: center;
      position: static;
      word-wrap: break-word;
      overflow: hidden;
      line-height:25px;
   
    }
    #descript:hover{
       background: #b0b4b642;

    }
    #catalogo img{
      
      left: 0;
      height: 60%;
      width:100%;
      margin-top: 0px;
      transition: 0.3s;
      background: white;

     }
     #catalogo p{
     font-size: 14px;
      position: relative;
      margin-top: -16px;
     }
     #catalogo h3{
      font-family: 'Rubik', sans-serif;

      line-height: 1.1;
     word-break: break-word;
      text-align: center;
      width: 145px;
     margin-top: -5px;
      text-transform: capitalize;
     font-size: 12px;
     position: relative;
     overflow: hidden;
     height: 39px;
     }
     #catalogo  h4{
      position: relative;
      font-size: 20px;
      font-family: 'Kanit', sans-serif;
      text-transform: capitalize;
      font-weight: bold;
      margin-top: -8px;
      
      
     }
     @keyframes hover {
      from{
        transform: scale(1);
      }to{
        transform: scale(1.15);
      }
  
    }

   
     #revisar{
      overflow: hidden;
background: transparent;
position:absolute;width: 
150px; height: 150px;
  cursor: pointer;
 border: 0;
     
     }
     #revisar:hover{
      /*animation-name: hover;
      animation-duration: 1s;*/
      background: #8e8e9824;
      opacity: 0.5;
     }

.col-md-12 img{
    height: 80%;
    width: 80%;
    margin-top: 0px;
    transition: 0.3s;
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    right: 15px;
   
   }
   .container-fluid h1{
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

   }

#mostrar_pop{
border: 0;
  width: 500px;
  height: 100%;
  position: fixed;
  background: transparent;
}
   
     /*ventana modal*/
  
  .pop-up{
    background: rgba(48, 48, 48, 0.5);
    position: fixed;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.3s ease all;
    position: fixed;
    z-index: 2;
  }
  .pop-wrap{
    
     margin-top: 100px;
    display: flex;
    transform: scale(1);
    width:90%;
  
    
    opacity: 0;
    align-items: center;
    transition: 0.3s ease all;
  }

  
  .pop-up.active   {
   
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease all;
  }
  .pop-up.active   .pop-wrap{

    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0.8s ease all;
  }
  .pop-up button{
    position:absolute;
    z-index: 33;
     top: -10px;
     right: -9px;
     width: 80px;
     height: 30px;
    color: #faf7f6;
    background: red;
    border: 0;
    font-size: 20px;
    border-radius: 0px 15px 0px 0px;
   }
  .subscription{

    overflow: hidden;
    border-bottom: 4px solid  #1877F2;
    border-top: 4px solid  #1877F2;;
    background: rgb(255, 255, 255);
    flex-basis: 0;
    flex-grow:2;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
   top: 20px;
   right: 150px;
   left: 10px;
    position: relative;
    width: 90%;
    height: fit-content;
    justify-content: center;
  
  }
  .subs-content{
   text-align: center;
  bottom: 30px;
   
    margin-bottom: 200px;
    flex-direction:row;
  }
  
  #cont_img{
    width: 25%;
    height: 500px;
    background: white;
   overflow: hidden;

  }
  #cont_img img{
    
    width: 100%;
    height:70%;
    border: 0;
    transition: .2s ease-in;
  }
  #cont_img img:hover{
    transition: 0.5s all ease-in-out;
    opacity: 0.8;
     transform: scale(1.2);
  }
 
  #info_prod{
    width: 34%;
    height:fit-content;
    background: transparent;
    text-align: center;
    align-items: center;
    padding-bottom: 8px;


  }
  #medida{

    color: #113dc2;
  }
  #medida_disp{
    position: relative;
    top: -28px;
   gap: 15px;
   display: flex;
   flex-direction: row;
   font-family: 'Nunito Sans', sans-serif;
    width: 90%;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  #medida_disp a{
    background: #14c211;
    width: 100px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 20px;
    padding-top: 2px;
    border-radius: 2px;
  }
  #info_prod h1:nth-child(2){
   text-decoration:line-through;
   font-size: x-large;
   color: red;
    top: -10px;
    height: 35px;
    }
  #info_prod h1:nth-child(3)::before{
   
  content: "$";
  }
  #info_prod h1:nth-child(1){
    text-transform: capitalize;
    margin-top: 22px;
   font-size: 40px;
   width: 90%;
   word-wrap: break-word; 
   font-family: 'Fjalla One', sans-serif;
   hyphens: none;
  }
  #info_prod h1:nth-child(3){
    position: relative;
    top: -50px;
    margin-top: 40px;
   font-size: 30px;
   color: #189016;
   text-align: center;
   
  }
 #title_descript{
  text-align: center;
  margin-top: -5px;
   color: #4d4a4a;
   font-size: 25px;
  }
  #desccripcion_view{
    
  width: 90%;
  margin-top: 0px;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: justify;
  line-height:20px;
  word-spacing: 0.05em;
  color: #4d4a4a;
  }
  #formulario_env{
    width: 22%;
    height: 500px;
    background: white;
    justify-content: center;
   
    position: sticky;
  }

  #title_form{
    font-size: 20px;
     margin-top: 25px;
   text-align: center;
  }
  .formulario_cliente{


    margin-left: 40px ;
  }
  .formulario_cliente label{
     margin-top: 10px;
     display: block;
  }
  .formulario_cliente label:nth-child(5)::after  {
   
   font-size: 14px;
 }
.formulario_cliente input{
    caret-color: #0099FF;
     width: 70%;
  
  color: #000;
     border-radius: 5px;
    padding: 10px 25px;
     margin:0 0 10px;
     display: block;
  }


  /*whatsapp*/
  .cont-whatsapp{

    width: 200px;
    height: 50px;
    background: #0099FF;
    
    border-radius: 30px  ;
   margin-left: 50px;
   margin-top: 20px;
    transition: all ease 2s;
  /*;*/
  }
 .cont-whatsapp a img{
  width: 100px;
    margin-top: 0;
    animation: anim_what 5s alternate infinite ease
  }
 #whatsapp{
    
    text-decoration: none;
   
    position: absolute;
    display: flex;
    flex-direction: row;
   
  }

  /*animacion boton whatsapp*/
  @keyframes anim_what{

    from    { transform: rotate(0deg); }
    5%      { transform: rotate(10deg); }
    12.5%   { transform: rotate(-10deg); }
    21%     { transform: rotate(10deg); }
    29%     { transform: rotate(-10deg); }
    37.5%   { transform: rotate(10deg); }
    46%     { transform: rotate(-10deg); }
    50%,to  { transform: rotate(0deg); }
  
  }
  .cont-whatsapp a span{
    
   
    margin-top: 15px;
    margin-left: 15px;
    color: #171718;
    transition: all ease 1s;
    
  }
  .cont-whatsapp:hover,  .cont-whatsapp a{
  
    transition: all ease 1s;
    
    animation-play-state: paused;
  }
  .cont-whatsapp:hover   a span{
    display:  inline-block;
    color: #c21117;
   opacity: 1;
   transition: all ease 1s;
   box-shadow: 3px solid rgba(0, 174, 255, 0.237);
  }
#title_fotter_pagos{
  position:relative;
  top:px;text-align: center;
}
#fotter_pagos{
  
  display: block;
   height: 50px;
  width: 100%;
  text-align: center;
  top:-10px;
  position:relative;
  
  
  
}
#fotter_pagos img{
width: 55px;
height: 55px;

}

#footer{
  margin-top: 50px;
  display: flex;
  border-top: 2px solid#1877F2;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
 justify-content: center;
  background: #c6d5decd;
  gap: 20px;
 
}
#info_footer{
width: 700px;
height: fit-content;
text-align: center;


font-family: 'Rubik', sans-serif;
}
#info_footer p{
  text-align: center;
font-family: 'Rubik', sans-serif;
text-align: center;
padding-left: 10px;
padding-right: 10px;
word-wrap: break-word; 

hyphens: none;
}
#footer_mapa{
  width: 500px;
  height: 350px;
  
  text-align: center;
}
.cont-map{
  width: 100%;
  height: 100%;

}

  /** media screen**/
  @media only screen
  and (min-device-width: 120px)
  and (max-device-width:768px)
  {

  #info_prod  p{
  font-size: 17px;
  padding: 15px;
  }
     #caract_product .nombre_prod_slide::first-letter,#caract_product .nombre_prod_slide{
     font-size: 15px;
     right: 25%;
     background: none;
    }

    #promos{
      margin-top: 100px;
    
    
    }
    .cont_slider{
    
      height: 200px;
    }
    #caract_product .valor_prod_slide,#caract_product .valor_prod_slide::before{
      margin-top: -30px;
      font-size: 20px;
      margin-left: 19px;
    }
    #items #titulo_cat{
     
      
      font-size: 5px;
    }
    #items section:nth-child(2){
      margin-top: 30px;
      
  
    }
    .mensaje_prod_slide{
      font-size: 20px;
      word-wrap: break-word;
      margin-top: -8px;
      white-space: pre-line;
     text-align: center;
      line-height: 1.1;
     word-break: break-word
      
      }
    
    #img_slider1,#img_slider2,#img_slider3,#img_slider4{
      width: 35%;
     height: 150px;
      vertical-align: top;
      transition: 0.5s all ease;
      transform: scale(1);
      
      
    }
  
    #caract_product h1:nth-child(3)::before,#caract_product h1:nth-child(3){
      content: "$";
      color: #14c211;
      font-size: 25px;
      margin-top: -15px;
      margin-left: 19px;
      }
    .caja nav ul{
      visibility: hidden;
    
    gap: 25px;
  }
  
  .caja nav li{
    text-align: center;
    width: 100px;
    border: 0;
   text-decoration-style:solid ;
    height: 30px;
    gap: 10px;
     
  }
      .cont-map{
          width: 80%;
          height:80%;
      
      }
  
      .subscription{
        overflow-y: scroll;
          height:530px;
          
      }
  #cont_img{
    width: 60%;
    height:fit-content;
   
  }
  #cont_img img{
    width: 100%;
    height:70%;

  }
  
  #info_prod{
  
    width: 100%;
    height:fit-content;
  }
  
  #formulario_env{
    width: 100%;
    height:600px;
  }

  }#items{
      width: 95vw;
  }
 
  
  
  /****redes sociales*/
  
.previa_cat
{
padding: 0;
 
  width: 100%;
  height: fit-content;

 
}

.cont-previa{
 margin-top: 0;
  width: 100%;
}
.previa_cat {
 margin-top: 0;
 padding: 6px;
  
}
.previa_cat .cont-coste{

  width: 100%;

}
.previa_cat .cont_img{
  width: 100%;

  height: 300px;
}
.previa_cat .cont_description{

  width: 100%;
}

     #catalogo{ 
    
      
        margin-top: 10px;
        width:150px;
        height:230px;
        
      
      transition: 0.3s;
      }
      #catalogo h4{
      margin-top: -12px;
      }  
     

  @media only screen
  and (min-device-height: 320px)
  and (max-device-height: 382px)

{
    .subscription{
   overflow: scroll;
        height:300px;
        
    }

}

@media only screen
and (min-device-width: 120px)
and (max-device-width:856px)
{

  .caja span{

    visibility: visible;
  }
  .contenedor{

    width: 150%;
  }

   #logo_menu{
    position: fixed;
   right: 30px;
   position: absolute;
   margin-top: 2px;

  }
.menu{

display: none;
}
#toogle_menu{
  visibility: visible;
  }
}




