<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="general_cont">
        <div id="cont_form">

            <h1>Informacion General</h1>
   
<form action="/general/<%= general[0]._id %>" method="post" enctype="multipart/form-data">
    <div class="form-group">
    <label for="numWhatsapp"> numero whatsapp</label>
    <input type="text" name="numWhatsapp" id="numWhatsapp" value="<%= general[0].numWhatsapp %>">
</div>
<div class="form-group">
    <label for="numWhatsapp"> color barrra menu</label>
    <input type="text" name="color" id="color" value="<%= general[0].color %>">
</div>
<div class="form-group">
    <label for="numWhatsapp"> tocken facebook</label>
    <input type="text" name="tocken" id="color" >
</div>
<div class="form-group" id="cont-previa">

    <img src="<%= general[0].favicon %>" name="imagen2" id="previa">

</div>
<div class="form-group">
    <input type="file" id="inputGroupFile01" name="image" class="form-control"
        placeholder=" chosee" aria-label="Example text with button addon" required>
</div>
<button type="submit"> send</button>

</form>


        </div>




       

    </div>
    <style>

        .general_cont{
           width:99% ;
           height: 450px;
           background: rgb(224, 224, 231);
          

        }
        .form-group{
            align-items: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  
    
        }
        .form-group input{
            width: 150px;
            border-radius: 5px;
            height: 20px;
            border: 0;
           
        }
        .form-group label{
            text-transform: capitalize;
        }
        #cont_form{
          box-shadow: 5px solid black;
          text-align: center;
            position: relative;
            left: 30%;
           background-color: rgb(154, 180, 205);
            width: 500px;
            height: 450px;
            display: flex;
            flex-direction: column;
 
        }
        #cont_form button{
          margin-top: 16px;
            width: 100px;
            height: 30px;
            border-radius: 3px;
        }
        #cont-previa{
      justify-content: center;
            width: 100%;
            height: 50px;
        }
        #cont-previa  img{

width: 50px;
height: 50px;
}
    </style>
   <script>
    // Variables
    const inputFile = document.querySelector('#inputGroupFile01');
    const image = document.querySelector('#previa');
    const cod = document.querySelector('#codigoim');

    /**
     * Returns a file in Base64URL format.
     * @param {File} file
     * @return {Promise<string>}
     */


    async function encodeFileAsBase64URL(file) {
        return new Promise((resolve) => {
            const reader = new FileReader();
            reader.addEventListener('loadend', () => {
                resolve(reader.result);
            });
            reader.readAsDataURL(file);
            console.log(file);
        });
    };

    // Eventos
    inputFile.addEventListener('input', async (event) => {
        // Convierto la primera imagen del input en una ruta Base64
        const base64URL = await encodeFileAsBase64URL(inputFile.files[0]);
        // Anyado la ruta Base64 a la imagen
        image.setAttribute('src', base64URL);
        cod.innerHTML = inputFile;
        console.log();
    });
</script>
</body>
</html>