<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   
    
    
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/styles.css"></link>
    <title>Document</title>
    <!--script src="http://192.168.1.7:4000/socket.io/socket.io.js"></script-->
    <script src="https://competidor.store/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>gestion pedidos</h1>
<div class="container">

 
  <div id="notificacion"></div>
  <div id="view_pedido">

    <table>
      <thead>
          <tr>
              <th>producto</th>
              <th>cantidad</th>
              <th>valor</th>
          </tr>
      </thead>
      <tbody id="body_prods">
          
       
      </tbody>
      <tfoot> 
        <th>total</th>
        <th id="total_table">$</th>
      </tfoot>
     
  <script>
 /*var body_prods=document.querySelector("#body_prods");
 var tr= document.createElement("tr");
 var tds=document.createElement("td");
 tds.innerHTML="2pollos"

 tr.appendChild(tds)
 body_prods.appendChild(tr)*/

  </script>
  </table>
  <div id="info_user">
    <h3>Datos usuario</h3>
    <form >
      <label for="name_user">nombre usuario</label>
      <input id="name_user" type="text" readonly >
      <label for="addres_user">Direccion</label>
      <input id="addres_user" type="text" readonly >
      <label for="email_user">Telefono</label>
      <input id="phone_user" type="text" readonly >
      <label for="email_user">email</label>
      <input id="email_user" type="text" readonly >
     <button>Confirmar</button>
    </form>

  </div>
  </div>

<style>
.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}
  #notificacion{

    width: 300px;
    height: 400px;
    background: gray;
  }

  #pop_notific{
    width: 100%;
    height: 70px;
    background: white;
  }
  #view_pedido{
    width: 75%;
    height: 400px;
    background: rgb(0, 145, 255);
    display: flex;
    flex-direction: row;


  }

  #view_pedido table{

    width: 60%;
    height: fit-content;
    border: 1px solid black;
  }
  #view_pedido table   thead th{

background-color: bisque;
border: 1px solid black;
text-decoration: solid;

}
#view_pedido table   tbody td{
    border: 1px solid black;

    padding: 8px 15px;

}
#info_user{
width: 300px;
height: 400px;
background: yellow;

}
</style>
</div>
                                                                                 

</body>
<script src="/sockesevv.js"></script>
</html>