<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   
    
    
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/styles.css"></link>
    <title>Document</title>
    <!--script src="http://192.168.1.7:4000/socket.io/socket.io.js"></script-->
    <script src="https://competidor.store/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Gestion de pedidos</h1>
<div class="container">
  <div id="pop_notfc">
    <a id="text_alert"></a>
  </div>

 
  <div id="notificacion">
  <div id="bar_notifc">
    <a id="" >Numero pedidos:</a>  <a id="cant_pedid"></a>
  </div>
  <div id="cont_notifc"></div>
  </div>
  
  <div id="view_pedido">

    <table>
      <thead>
          <tr>
              <th>producto</th>
              <th>cantidad</th>
              <th>valor</th>
          </tr>
      </thead>
      <tbody id="body_prods">
          
       
      </tbody>
      <tfoot> 
        <th>total</th>
        <th id="total_table">$</th>
      </tfoot>
     
  <script>
 /*var body_prods=document.querySelector("#body_prods");
 var tr= document.createElement("tr");
 var tds=document.createElement("td");
 tds.innerHTML="2pollos"

 tr.appendChild(tds)
 body_prods.appendChild(tr)*/

  </script>
  </table>
  <div id="info_user">
    <h3>Datos usuario</h3>
    <form >
      <label for="name_user">nombre usuario</label>
      <input id="name_user" type="text" readonly >
      <label for="addres_user">Direccion</label>
      <input id="addres_user" type="text" readonly >
      <label for="phone_user">Telefono</label>
      <input id="phone_user" type="text"  >
      <label for="email_user">email</label>
      <input id="email_user" type="text" readonly >
     <button type="button">Confirmar</button><button id="conf_ped">whatsapp</button>
    </form>

  </div>
  </div>
<script>
 const URL_API='https://graph.facebook.com/v16.0/114781451626599/messages';
  var conf_ped=document.querySelector("#conf_ped");



 /*conf_ped.onclick=function(){
   
   var xhr = new XMLHttpRequest();
xhr.open("POST", URL_API);
xhr.setRequestHeader("Accept", "application/json");
xhr.setRequestHeader("Content-Type", "application/json");

xhr.onreadystatechange = function () {
  if (xhr.readyState === 4) {
    console.log(xhr.status);
    console.log(xhr.responseText);
  }};
  let data = {
  "messaging_product": "whatsapp", 
  "to": "573026055289", 
  "type": "template", 
  "template": { "name": "hello_world",
  "language": { "code": "en_US" } } }

  

xhr.send(data);

    
  }*/
  /*const pedid= async()=>{
  

  

var botId = '104139039369000';
var phoneNbr = '573026055289';
var bearerToken = 'EAAH55QLPNwcBAFNLRYfLPvqP2iIONW3eqqJZCgCeI4ACbe4pqgeTOKI6bm18m91ax1RSkj6Qlqh8xKzdsjD49kuvPYoeBZCM42o4MbtYQhCtVTYqTztsaoM5NhyhZCDZCfi0G5VqADLJ8sb94KuDVpc5nMfZC4Ei8pZBIAV42FRKZAvxdwtE4lFY85ZCUIaiyVf0gv5x3ccYyAZDZD';

var url = 'https://graph.facebook.com/v16.0/' + botId + '/messages';
var data = {
  messaging_product: 'whatsapp',
  to: phoneNbr,
  type: 'template',
  template: {
    name:'hello_world',
    language:{ code: 'en_US' }
  }
};

var postReq = {
  method: 'POST',
  headers: {
    'Authorization': 'Bearer ' + bearerToken,
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(data),
  json: true
};

fetch(url, postReq)
  .then(data => {
    return data.json()
  })
  .then(res => {
    console.log(res)
  })
  .catch(error => console.log(error));
}
pedid()*/

</script>
<style>
  h1{
    color: brown;
    text-align: center;
  }
.container{
 
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: center;
  font-family: 'Tajawal', sans-serif;
}
@keyframes show_notfc {
    from {
        opacity:.50;
    }
    25%, 45% {
        opacity: .75;
    }
    75%, 75% {
        opacity: .85;
    }
    100%, 75% {
        opacity: 10;
    }
    to {
    opacity: .5;
    }
}


#pop_notfc{
 opacity: 0;
  position: fixed;
  width: 170PX;
  height: 80PX;
  background: rgba(12, 227, 12, 0.558);
  right: 50PX;
  top: 0;
  border-radius: 5px;
  text-align: center ;
}
#pop_notfc.active{
 
  animation: show_notfc  5s ease-in;
}
#pop_notfc a{
  position: relative;
top: 35%

}
  #notificacion{

    width: 300px;
    height: 400px;
   
    flex-direction: column;
  }
  #bar_notifc{
    width: 100%;
    height: 50px;
   
  }
  #cant_pedid{
    color: rgb(46, 165, 42);
    font-size: 20px;
  }
  #cont_notifc{
    width: 100%px;
    height: 400px;
    background: rgba(128, 128, 128, 0.586);
    overflow: scroll;
  }
  #pop_notific{
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    height: 70px;
    background: white;
  }
  #view_pedido{
    width: 75%;
    height: 400px;
   
    display: flex;
    flex-direction: row;
   

  }

  #view_pedido table{

    width: 60%;
    height: fit-content;
    border: 1px solid black;
  }
  #view_pedido table   thead th{

background-color: bisque;
border: 1px solid black;
text-decoration: solid;

}
#view_pedido table   tbody td{
    border: 1px solid black;

    padding: 8px 15px;

}
#info_user{
width: 300px;
height: 400px;
background: rgb(213, 213, 208);
text-align: center;
justify-content: center;
}
#info_user input{
  position: relative;
  left: 18%;
  outline: none;
  border: 0;
  border-bottom: 1px solid gray;

}
</style>
</div>
                                                                                 

</body>
<script type="module" src="/sockesevv.js"></script>
</html>