<div class="pop-up-sigin" id="pop-up-sigin">
    <div class="pop-wrap-sigin" id="pop-wrap">
       
      <div class="pop-up-title">
        
      </div>
      <div class="subscription_sigin">
        <button class="close_view" id="close_view_log"> X salir</button>
        <i class="fa-solid fa-circle-xmark" id="close"></i>
        <div class="subs-contentSigin">
           <h2>Inicio de sesion</h2>
          <p>Ingresa tus datos</p>
          <form  action="/task/findUser" method="post">
            <label for="user">Nombre de usuario*</label>
            <input  type="text" class="subs-email" placeholder="ingersa tu usuario" name="nombre" id="user"required>
            <label for="pwd">Contrase単a*</label>
            <input type="password" class="sub-pass" placeholder="ingersa tu contrase単a" name="password" id="pwd" required>
            
            <button  class="subs-send" type="submit" id="ingreso">Entrar</button>
            <a href="#" id="crear_cuenta">Registrarse</a>
          </form>
        </div>
      </div>
    </div>
  
    </div>
  
  
    <div class="pop-up-sigin" id="pop-up-reg">
      <div class="pop-wrap-sigin" id="pop-wrap-reg">
       
        <div class="pop-up-title">
          
        </div>
        <div class="subscription_sigin">
          <button class="close_view"id="close_view_reg"> X salir</button>
          <i class="fa-solid fa-circle-xmark" id="close-reg"></i>
          <div class="subs-contentSigin">
             <h2>Registro</h2>
            <p>Datos de registro</p>
            <form  action="/task/addUser" method="post">
              <label for="user">Nombre y apellido*</label>
              <input id="user-name" type="text" class="user-name" placeholder="ingersa tu nombre" name="nombre" required>
              <label for="user">Nombre de usuario*</label>
              <input type="text" class="user-lastname" placeholder="ingersa tu apellido" name="user" >
              <label for="user">Correo</label>
              <input type="email" class="user-email" placeholder="ingersa tu correo" name="email" >
              <label for="user">Contrase単a*</label>
              <input type="password" class="user-pass" placeholder="ingersa tu contrase単a" name="password" required>
              <button class="subs-send" type="submit" id="reg_user" >Registrar</button>
             
             
            </form>
          </div>
        </div>
      </div>
    
      </div>

      <style>


.pop-up-sigin{
  background: #8f58dd85;
    position: fixed;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;

    visibility: hidden;
    transition: 0.1s ease all;
    position: fixed;
    z-index: 2;
    
  } 
  .pop-up-sigin.active   {
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease all;
  }
  .pop-wrap-sigin{
    visibility: hidden;
    display: flex;
    transform: scale(0.5);
   
   justify-content: center;
   
   top: 100px;
   
   
    transition: 0.3s ease all;
    position: relative;
  }
  .pop-up-sigin.active .pop-wrap-sigin{
    
   opacity: 1;
   visibility: visible;
   transform: scale(1);
   transition: 0.8s ease all;
   align-items: center;
    justify-content: center;
   
   transition: 1s ease all;
  
  
}
.pop-up-sigin .close_view{
    position:relative;
   z-index: 999;
   top: -5px;
     left: 40%;
     width: 80px;
     height: 30px;
    color: #faf7f6;
    background: red;
    border: 0;
    font-size: 20px;
    border-radius: 0px 15px 0px 0px;
   }
  .subscription_sigin{
    visibility: hidden;
width: 400px;
height: fit-content;
position: relative;
border-bottom: 4px solid #1877F2;
border-top: 4px solid  #1877F2;;

background: rgb(255, 255, 255);
padding: 0;
min-width: 300px;
display: flex;
flex-wrap: wrap;
border-radius: 15px;
justify-content: center;

}
.pop-up-sigin.active .subscription_sigin{
  visibility: visible;
}
.subs-contentSigin{
  position: relative;
  font-family: 'Comme', sans-serif;
  padding: 8px;
  padding-bottom: 50px;
  width: 100%;
height: fit-content;
text-align: center;

margin-bottom: 18px;

}
.subs-contentSigin h2{
  width: 100%;
  padding: 0;
  height: 30px;
  position: relative;
  top: 10px;
 
}
.subs-contentSigin p{
  width: 100%;
  padding: 0;
  height: 30px;
  position: relative;
  top: 0;
 
}
.pop-wrap-sigin form{
width:100%;
height: fit-content;
position: relative;

display: flex;
flex-direction: column;
position: relative;
justify-content: center;
align-items: center;
 text-align: center;
}

.pop-wrap-sigin form input{

position: relative;
  border-radius: 0;
 align-items: center;
 border: 0;
 border-bottom: 1px solid rgb(141, 23, 23);
}
.pop-wrap-sigin form label{
  font-size: 14px;
}
#ingreso{ 
  font-size: 15px;
  position: relative;
  top: 20px;
  background: green;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  border: 0;
}
#crear_cuenta{
  font-size: 15px;
  color: black;
  position: relative;
  top: 30px;
  text-decoration: none;
  background: rgb(0, 128, 105);
  border-radius: 10px;
  height: 25px;
  width: 100%;
  border: 0;
  padding-top:8px ;
}
#reg_user{
  
  font-size: 15px;
  color: black;
  position: relative;
  top: 30px;
  text-decoration: none;
  background: rgb(0, 128, 105);
  border-radius: 10px;
  height: 25px;
  width: 100%;
  border: 0;
}

@media only screen
  and (min-device-width: 120px)
  and (max-device-width:396px)
  {
    .pop-up-sigin .close_view{
    position:relative;
   z-index: 999;
   top: -28px;
     left: 38%;
   
     

   }
  }
      </style>